<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="/Users/liuruichao/javaSRC/oxchains/ziyundemo" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFileINFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/ziyun.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/ziyun.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 30 day -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] - %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <!--<logger name="com.mljr.carfinance.crm.provider" level="INFO" />-->
    <!--<logger name="com.alibaba.dubbo" level="WARN"/>-->
    <!--<logger name="org.apache.zookeeper" level="WARN"/>-->
    <!--<logger name="com.mljr.carfinance.crm.provider.mapper" level="DEBUG"/>-->

    <root level="INFO">
        <!--<appender-ref ref="rollingFileINFO" />-->
        <appender-ref ref="console"/>
    </root>
</configuration>